@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --button: #ff4141;
  --button-1: #787878;
  --button-2: #3539b8;
  --text: #171717;
  --text-1: #7b7b7b;
  --text-2: #3d3d3d;
  --border: 1px solid #c9c9c9;
  --border-1: 1px solid #e1dada;
  --background-1: linear-gradient(0deg, #ffffff 0%, #00ffff65 100%);
  --background-primary: white;
  --background-primary-1: #fbfbfb;
  --background-primary-2: #5c5c5c;
}

body {
  margin: 0;
  font-family: "Poppins";
  background-color: #f6f6f6;
  height: 100vh;
}
