.add-product {
  box-sizing: border-box;
  width: 100%;
  max-width: 800px;
  padding: 30px 50px;
  margin: 20px 30px;
  border-radius: 6px;
  background: var(--background-primary);
  margin-top: 95px;
}
.add-product-item-field {
  width: 100%;
  color: var(--text-1);
  font-size: 16px;
}

.add-product-item-field input {
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  border-radius: 4px;
  padding-left: 15px;
  border: var(--border);
  outline: none;
  color: var(--text-1);
  font-family: "Poppins";
}

.add-product-price {
  display: flex;
  gap: 40px;
}

.add-product-selector {
  padding: 10px;
  width: 100px;
  height: 50px;
  font-size: 14px;
  color: var(--text-1);
  border: var(--border);
  border-radius: 4px;
}

.add-product-thumnail-img {
  height: 120px;
  width: 120px;
  border-radius: 10px;
  object-fit: contain;
  margin: 10px 0px;
}

.add-product-btn {
  margin-top: 10px;
  width: 160px;
  height: 30px;
  border-radius: 6px;
  background: var(--button-2);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}
@media (max-width: 800px) {
  .add-product {
    width: auto;
    padding: 30px;
    margin: 20px;
  }
}
