.navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 50%;
  padding: 15px 0px;
  box-shadow: 0 1px 3px -2px #000;
  background: var(--background-primary);
  position: fixed;
  width: 100%;
}

.nav-logo {
  width: 200px;
}
.nav-profile {
  width: 75px;
}

@media (max-width: 800px) {
  .navbar {
    padding: 15px 0px;
  }
  .nav-logo {
    width: 150px;
  }
  .nav-profile {
    width: 60px;
  }
}
